@charset "utf-8";

body{
	background-color: #00cc99 !important;
}

.main > .row{
    margin-top:80px;
}

#result-sider{
    margin-bottom:20px ;
}

#main-result{
    background-color: white;
    border-bottom-left-radius: 7px;
}

.paper-question{
    background-color: white;
}


#search-sider .btn-primary {
	color: #fff;
	background-color: #00AA88;
	border-color: #00AA88;
}
#search-sider .btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary {
	color: #fff;
	background-color: #00876a;
	border-color: black;
}

#search-sider .panel-info>.panel-heading {
	color: white;
	background-color: #00AA88;
	border-color: #4BBE8D;
}
#search-sider .panel-info {
	border-color: #4BBE8D;
}

.question-title{
	height: 1.5em;
	overflow:hidden;
}



#searchTabsWrapper .label{
	font-size: 1em;
}

#searchTabsWrapper .label:hover{
	opacity: 0.6;
}

#searchTabsWrapper .glyphicon-remove:hover{
	color: black;
	opacity:1;
}

#search-results-wrapper .tab-pane{
	overflow-y: scroll;
	overflow-x: hidden;
	height: 650px;
}

.glyphicon:hover{
	opacity: 0.5;
    cursor: pointer;
    cursor: hand;
}

.panel-title:hover, .question-panel:hover {
    cursor: pointer;
    cursor: hand;
}

.question-panel .panel-heading{
    border-color: #00cc99;
    color: #2b542c;
    background: transparent;
}

.panel-title{
    overflow: hidden;
}

#search-results-wrapper .btn-block{
	background-color: transparent;
}

#my-tab-content .panel{
	margin: 10px;
}

.paper-panel{

}
/*标签页css设置*/

/*标签页边框*/
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
	/*border: 1px solid #4BBE8D;*/
	/*border-bottom:1px solid white;*/
    border: none !important;
}
/*标签下线*/
.nav-tabs {
	/*border-bottom: 5px solid white;*/
}

#search-results-wrapper .tab-pane{
	/*border: 5px solid white;*/
	border-top-style: none;
}
