form.form-horizontal{
    padding-top: 2em;
}

form.form-horizontal input{
    background: transparent;
    border: none;
    border-bottom: 1px solid #23527c;
    margin-bottom: 1em;
}

<<<<<<< HEAD
=======
.panel-content{
    min-height: 220px;
}

h2 small{
    text-decoration: underline;
    color: #23527c;
}

.unreliable{
    pointer-events:none;
    color:#afafaf !important;
    cursor:default
}
>>>>>>> refs/remotes/EmiyaYang/master
